<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.purkinjenetwork"
          name="Purkinje Network"
          class="sv4guiPurkinjeNetworkEdit"
          icon="resources/purkinje_network.png" />
  </extension>

  <extension point="org.sv.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="sv4guiPurkinjeNetworkFolder" label="Create PurkinjeNetwork" icon="" class="sv4guiPurkinjeNetworkCreateAction" />
    <contextMenuAction nodeDescriptorName="sv4guiMitkPurkinjeNetwork" label="Export PurkinjeNetwork-Complete" icon="" class="sv4guiPurkinjeNetworkLegacySaveAction" />
    <contextMenuAction nodeDescriptorName="sv4guiMitkPurkinjeNetwork" label="Load/Unload Surface PurkinjeNetwork" icon="" class="sv4guiPurkinjeNetworkLoadSurfaceAction" />
    <contextMenuAction nodeDescriptorName="sv4guiMitkPurkinjeNetwork" label="Load/Unload Volume PurkinjeNetwork" icon="" class="sv4guiPurkinjeNetworkLoadVolumeAction" />
  </extension>

</plugin>
